.profile-nav {
  height: 71px;
  border-bottom: 1px solid #eef1f2;
  position: relative;
}

.profile-header {
  width: 270px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  position: relative;
  top: -62px;
}

.profile-stats {
  display: flex;
  color: #8699a6;
  font-size: 14px;
  margin-top: 6px;
}

.profile-stats li {
  margin-right: 9px;
}

.profile-stats li:last-child {
  margin-right: 0;
}

.profile-page .icon-username-plays .user-icon {
  width: 16px;
  height: 16px;
}

.profile-page .video-list-item .username {
  color:  rgb(135, 156, 171);
  font-size: 12px;
  font-weight: 400;
  margin-top: 1px;
  margin-left: 4px;
}

.profile-page .separator {
  font-size: 13px;
  font-weight: 400;
  color: #D0D8DB;
  margin: 0 5px;
}

.profile-page .video-list-item-info .views {
  color: rgb(138, 149, 153);
  font-size: 12px;
  margin-top: 1px;
}

.video-list-item-info.profile {
  margin-top: 7px;
  border: none;
  background-color: transparent;
}

.icon-username-plays {
  display: flex;
  justify-content: space-between;
  width: 157px;
}

.video-list-item-info.profile h3 {
  color: rgb(23, 39, 46);
  font-size: 14px;
}

.video-list-item-info.profile a {
  display: flex;
}

.profile-page {
  display: flex;
  flex-direction: column;
  .video-list {
    margin-top: 0;
    display: grid;
    margin: auto;
    grid-template-columns: 442px 442px ;
    grid-gap: 30px;
  }

  .video-list-item {
    margin-top: 0;
  }

  .load-button-wrapper{
    display: none;
  }
  .video-list-item-info {
    min-height: 0;
  }

  .video-list-item figure,  .video-list-item video,
  .video-list-item .video-player-background {
    box-sizing: border-box;
    width: 442px;
    height: 233.42px;
    object-fit: inherit;
  }

  aside {
    display: none;
  }
}
