.follow-button {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
  border-color: #00ADEF;
  background-color: rgb(0, 173, 239);
  width: 85px;
  height: 34px;
}

.profile-page .follow-button {
  margin-right: 30px;
  margin-left: 5px;
}

@media(max-width:420px) {
  .profile-page .follow-button {
    margin-right: 5px;
    margin-left: 5px;
  }
}
.follow-button svg {
  height: 14px;
}

.follow-button path {
  fill: white;
}

.follow-button span {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: .1px;
  color: white;
}

.follow-button-inner-wrapper {
  display: flex;
  align-items: center;
}

.follow-button.following {
  background-color: #7fc400;
  width: 105px;
}

.follow-button span {
  margin-left: 4px;
}

.follow-button.following:hover {
  border-color: #e3e8e9;
  background-color: #e3e8e9;
}

.follow-button.following:hover span {
  font-weight: 700;
  color: rgb(26, 46, 59)
}

.follow-button.following:hover path {
  fill: rgb(26, 46, 59)
}

.username-videos-followers {
  .follow-button {
    height: 25px;
    border-radius: 2px;
    margin-top: 4px;

    width: 83px;
    height: 25px;
  }

  .follow-button span {
    font-size: 12px;
    font-weight: 700;
  }

  .follow-button.not-following {
    width: 66px;
    background-color: transparent;
    border: 1px solid rgb(0, 173, 239);

    span {
      color: rgb(0, 173, 239);
    }

    path {
      fill: rgb(0, 173, 239);
    }
  }
  .follow-button.not-following:hover {
    background-color: rgb(0, 173, 239);

    span {
      color: white;
    }

    path {
      fill: white;
    }
  }

  .follow-button.following {
    border: 1px solid rgb(127, 196, 0);
    background-color: transparent;
    span {
      color: rgb(127, 196, 0);
    }

    path {
      fill: rgb(127, 196, 0);
    }
  }

  .follow-button.following:hover  {
    border: none;
    background-color: rgb(227, 232, 233);
    span {
      color: rgb(26, 46, 59);
    }
    path {
      fill: rgb(26, 46, 59);
    }
  }

}
