.upload-button:hover, .follow-button:hover,  {
  border-color: #08C;
  background-color: #08C;
  transition-delay: 0s;
  transition-duration: .1s;
  transition-property: all;
  transition-timing-function: ease-in-out;
}
