@media(min-width: 1432px) {
  .beneath-video {
    margin-left: 13% !important;
  }
}

.beneath-video {
  /* margin-left: 32px; */
  padding-left: 2.5rem;
}

.player-video-info .page-header {
  padding: 0;
  font-weight: 500;
}

.player-video-info .time-stamp {
  color: rgb(134, 153, 166);
  font-size: 14px;
}

.player-video-info {
  padding: 20px 0;
}

.player-video-info .user-list {
  display: flex;
}

.player-video-info > * {
  margin-bottom: 10px;
}
