@media(min-width: 1432px) {
  .beneath-video {
    margin-left: calc(50% - 527px)
  }
}

.beneath-video {
  padding-left: 2.5rem;
  width: 904px;
  border-right: 1px solid rgb(227, 232, 233);
}

.player-video-info .page-header {
  padding: 0;
  font-weight: 500;
}

.player-video-info .time-stamp {
  color: rgb(134, 153, 166);
  font-size: 14px;
}

.player-video-info {
  padding-top: 20px;
  padding-bottom: 12px;
}

.player-video-info .page-header {
  margin-bottom: 0;
}

.player-video-info .user-list {
  display: flex;
  width: 98%;
  padding-bottom: 18px;
  margin-top: 13px;
  border-bottom: 1px solid rgb(227, 232, 233);
}

.player-video-info > * {
  margin-bottom: 10px;
}

.player-video-info  p {
  color: #1a2e3b;
  font-weight: 400;
  font-size: 14px;

  margin-top: 32px;
  margin-left: 5px;
  padding-right: 400px;
}

.video-stat-icon {
  width: 18px;
  height: 18px;
  color: rgb(26, 46, 59);
  font-size: 16px;
}

.video-stats {
  display: flex;
  margin-top: 31px;
}

.video-stats li {
  margin-left: 10px;
  display: flex
}

.video-stats li svg {
  margin-right: 5px;
}

.video-stats li span {
  color: rgb(26, 46, 59);
  font-size: 16px;
  font-weight: 400px;
}
