@media(min-width: 1432px) {
  .beneath-video {
    margin-left: 22% !important;
  }
}

/* @media(max-width: 1432px ){
  .beneath-video:
} */

.beneath-video {
  /* margin-left: 32px; */
  padding-left: 2.5rem;

}

.player-video-info .page-header {
  padding: 0;
  font-weight: 500;
}

.player-video-info .time-stamp {
  color: rgb(134, 153, 166);
  font-size: 14px;
}

.player-video-info {
  padding: 20px 0;
  width: 904px;
}

.player-video-info .user-list {
  display: flex;
  padding-bottom: 18px;
  border-bottom: 1px solid rgb(227, 232, 233);
}

.player-video-info > * {
  margin-bottom: 10px;
}

.player-video-info  p {
  color: #1a2e3b;
  font-weight: 400;
  font-size: 14px;
}
