.video-player-background {
  background-color: black;
  display: flex;
  align-items: center;
}

video {
  display: block;
}

.video-player-size-container {
  width: 961px;
  margin: 0px auto;
  position: relative;
}

@media (max-width: 1130px)  {
  .video-player-size-container {
    width: 80%;
  }
}

@media (max-width: 470px)  {

  .video-player-background {
    box-sizing: border-box;
    height: 256px;
    padding-top: 6%;
    padding-bottom: 6%;
  }
}
