#video-controls.hide {
  display: flex;
  align-items: flex-end;
  position: absolute;
  width: 100%;
  top: 492px;
  right: -9px;

  transition: opacity .25s ease-out;
  opacity: 0;
}

@keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}

#video-controls.show {
  display: flex;
  align-items: flex-end;
  position: absolute;
  width: 100%;
  height: 7%;
  top: 91%;
  right: -9px;
  -webkit-animation: fadeIn .40s;
  animation: fadeIn .40s;

}

#playpause {
  width: 65px;
  height: 40px;
  margin-right: .9em;
  color: white;
  background-color: rgba(23, 35, 34, 0.75);
  border-radius: 5px;
  transition-duration: 0.25s, 0.04s, 0.04s ;
  transition-property: opacity, background-color, color ;
  transition-timing-function: ease-out, ease, ease ;
}

#playpause:hover {
  background-color: rgb(0, 173, 239);
}

.pp-icon-wrapper {
  display: flex;
  justify-content: center;
}

.pp-icon-wrapper svg {
  fill: white;
  width: 20px;
  height: 20px;
}

.pp-icon-wrapper svg:focus {
  outline: none;
}

.playbar {
  background-color: rgba(23, 35, 34, 0.75);
  width: 100%;
  margin-right: 17px;
  height: 35px;
  display: flex;
  align-items: center;
}

@media(max-width:470px) {
  .playbar {
    display: none;
  }
}

.progress-bar-container {
  width: 80%;
  height: 13px;
  border: 1px solid rgb(102, 102, 102);
  cursor: pointer;
  margin-left: 13px;
  display: flex;
  align-items: center;
  box-sizing: border-box;
}

#progress-bar {
  color: none;
  height: 9px;
  margin-left: 1px
}

#progress-bar[value] {
  -webkit-appearance: none;
   appearance: none;
}

#progress-bar[value]::-webkit-progress-bar {
  background-color: rgb(0, 173, 239);
}
