.search-aside-list {
  margin: 0 auto;
}

.search-aside-list {
  display: flex;
}

.results-text {
  padding: 41px 0;
}

.results-text {
  font-size: 14px;
  color: rgb(68, 85, 102);
}

.results-text strong {
  font-weight: 700;
}

.search-aside {
  margin-top: 94px;
  margin-right: 59px;
}
