.search-aside-list {
  margin: 0 auto;
  display: flex;
}

.results-text {
  padding: 41px 0;
}

.results-text {
  font-size: 14px;
  color: rgb(68, 85, 102);
}

.results-text strong {
  font-weight: 700;
}

.user-search-list {
  display: grid;
  grid-template-columns: 320px 320px 320px;
  grid-column-gap: 32px;
  grid-row-gap: 57px;
}

@media(max-width: 1033px) {
  .user-search-list {
    margin-left: 20px;
    grid-template-columns: 320px 320px;
  }
}
@media(max-width: 625px) {
  .user-search-list {
    grid-template-columns: 320px;
  }
}

.user-search-list-item {
  display: flex;
}

.user-search-list-item .user-icon {
  width: 80px;
  height: 80px;
}

ul.username-videos-followers {
  margin-left: 20px;
}

.username-videos-followers h2 {
  color: #456;
  font-size: 16px;
  font-weight: 800;
}

.username-videos-followers .user-info {
  font-size: 12px;
  color: rgb(68, 85, 102);
  margin-top: 6px;
}

.username-videos-followers span:not(:first-child) {
  margin-left: 4px;
}
