.nav-bar.loggedIn {
  background-color: #EEF1F2;
  border-bottom: 1px solid #D0D8DB;
}

.avatar-wrapper img {
  object-fit: cover;
  border-radius:50%;
  width: 36px;
  height: 36px;
  margin: 0px 10px
}

#MyVideos {
  color: rgb(96, 118, 128);
}

.loggedIn .left-nav-section span:hover {
  color: #17272E;
}

.loggedIn #search-bar {
  background-color: white;
}

.loggedIn #search-bar {
  background-color: white;
  color: #4E5A5E;
  font-size: 14px;
}


.loggedIn ::-webkit-input-placeholder {
  color: #4E5A5E;
}

.loggedIn #search-bar:active, #search-bar:hover {
  border: 1px solid #879CAB;
  transition-duration: 0.25s;
  transition-property: all;
  transition-timing-function: ease-out;
}
