.nav-bar.loggedIn {
  background-color: #EEF1F2;
  border-bottom: 1px solid rgb(208, 216, 219);
}

.right-nav-section img {
  object-fit: cover;
  border-radius:50%;
  width: 36px;
  height: 36px;
  margin: 0px 10px;
}

.right-nav-section .avatar-li {
  position: relative;
}

.icon-dropdown {
  position: absolute;
  background-color: white;
  top: 54px;
  right: 132px;
  border: 1px solid rgb(238, 241, 242);
  width: 270px;
  z-index: 300;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 3px 5px 0px;
}

.dropdown-user-info h4 {
  margin: 0px;
  font-size: 14px;
  color: rgb(23, 39, 46);
  font-weight: 700;
}

.view-profile-wrapper {
  margin-bottom: 3px
}

.view-profile-wrapper span {
  font-size: 11.2px;
  color: #00adef;
  letter-spacing: 0.16px;
  font-weight: 500;
}

.dropdown-user-info-wrapper{
  position: relative;
  align-items: center;
  height: 74px;
  border-bottom: 1px solid rgb(238, 241, 242);
}

.dropdown-user-info {
  position: absolute;
  top: 10px;
  width: 270px;
  padding: 4px 0px;
  display: flex;
  align-items: center;
}

.icon-dropdown ul {
  padding: 12px 0;
}

.icon-dropdown li {
  padding: 4px 16px;
  color: rgb(26, 46, 59);
  font-size: 14px;
  letter-spacing: .16px;
  text-decoration-color: rgb(26, 46, 59);
}

.dropdown-user-info img {
  width: 46px;
  height: 46px;
  margin-left: 16px;

}

#MyVideos {
  color: rgb(96, 118, 128);
  font-weight: 700;
}

.loggedIn .left-nav-section span:hover {
  color: #17272E;
}

.loggedIn #search-bar {
  background-color: white;
}

.loggedIn #search-bar {
  background-color: white;
  color: #4E5A5E;
  font-size: 14px;
}


.loggedIn ::-webkit-input-placeholder {
  color: #4E5A5E;
}

.loggedIn  #search-bar:hover {
  border: 1px solid #879CAB;
  transition-duration: 0.25s;
  transition-property: all;
  transition-timing-function: ease-out;
}

.loggedIn #search-bar:focus {
  border: 1px solid #879CAB;
  transition-duration: 0.25s;
  transition-property: all;
  transition-timing-function: ease-out;
}

.left-nav-section a:hover span {
  color: rgb(23, 39, 46);
}


.dropdown-user-info:hover {
  background-color: rgb(246, 247, 248)
}


/* Hover effects and dropdown display */
.icon-dropdown li:hover {
  background-color: rgb(246, 247, 248);
}
