.login-form-container {
  // height: 347px;
  background: rgba(0,0,0,.6);
  box-sizing: border-box;
  width: 479px;
  border-radius: 5px;

  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 50px auto;
}

.login-form-container h3 {
  width: 100%;

  padding-bottom: 10px;
  padding-top: 25px;
  margin: 0;


  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.login-form-container h3 span {
  color: white;
  font-size: 700px;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 36px;
  text-align: center;
  box-sizing: border-box;
}

.login-form-container input[type="text"], input[type='password'] {
  text-align: left;
}

.login-form-container input[type="text"], input[type='password']  {
  box-sizing: border-box;
  border: 1px solid rgb(208, 216, 219);
  padding: 15px;
  width: 351px;
  margin: 13px 0px;
  border-radius: .1875rem;
  background-color: white;
}

.login-form-container ::-webkit-input-placeholder {
  color: grey;
  font-size: 1rem;
  text-align: left;
}

.login-form-box {
  padding-bottom: 13px;
}


.login-form a {
  color: #00ADEF;
  margin-left: 8px;
}

#link-title {
  color: white;
}

.session-submit {
  box-sizing: border-box;
  border: 1px solid rgb(208, 216, 219);
  padding: 15px;
  width: 351px;
  margin: 13px 0px;
  border-radius: .1875rem;
  border-color: #7FC400;
  background-color: #7FC400;
  font-weight: 700;
  color: white;
  text-align: center;
}


//errors
.session-errors {
  padding: 0 25px;
}

.session-errors li {
  background-color: rgb(255, 237, 237);
  color: rgb(26, 46, 59);
  box-sizing: border-box;
  padding: 25px 20px;
  width: 351px;
  margin: 13px auto;
  border-radius: .1875rem;
  font-size: 14px;
  text-align: left;
}


//Hover effects
.session-submit:hover {
  cursor: pointer;
}

.login-form input:focus{
  box-shadow: inset 0 0 0 1px #D0D8DB;
}

.session-submit:hover {
  background-color: #5A9E02
}

.login-form a:hover {
  color: #08C;
  cursor: pointer;
}
