.login-form-container {
  // height: 347px;
  box-sizing: border-box;
  width: 405px;
  border-radius: 5px;
  border: 1px solid grey;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 50px auto;
}

.login-form-container h3 {
  width: 100%;
  background: grey;
  padding: 25px 0;
  margin: 0;
  background-color: #F2F4F5;

  border-bottom-color: rgb(208, 216, 219) ;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.login-form-container h3 span {
  color: rgb(26, 46, 59);
  font-size: 700px;
  font-size: 20px;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 20px;
  text-align: center;
  box-sizing: border-box;
}

.login-form-container input[type="text"], input[type='password'] {
  text-align: left;
}

.login-form-container input {
  box-sizing: border-box;
  border: 1px solid rgb(208, 216, 219);
  padding: 15px;
  width: 351px;
  margin: 13px 0px;
  border-radius: .1875rem;
}

.login-form-container ::-webkit-input-placeholder {
  color: grey;
  font-size: 1rem;
  text-align: left;
}

.login-form-box {
  padding-bottom: 13px;
}

.login-form {
  margin-top: 15px
}

.login-form a {
  color: #00ADEF;
  margin-left: 8px;
}

.login-form a:hover {
  color: #08C;
  cursor: pointer;
}

.session-submit {
  border-color: #7FC400;
  background-color: #7FC400;
  font-weight: 700;
  color: white;
  text-align: center;
}

//Hover effects
.session-submit:hover {
  cursor: pointer;
}

.login-form input:focus{
  box-shadow: inset 0 0 0 1px #D0D8DB;
}

.session-submit:hover {
  background-color: #5A9E02
}
