.user-list-item {
  display: flex;
  align-items: center;
  margin-right: 11px;
}

.user-list-item h4 {
  color: rgb(26, 46, 59);
  font-size: 14px;
  margin: 0;
  margin-left: 6px;
  font-weight: 600;
}

.username-timestamp {
  display: flex;
  align-items: center;
}

.username-timestamp h6 {
  margin: 0;
  color: rgb(134, 153, 166);
  font-size: 12px;
  font-weight: 400;
  margin-left: 8px;
  margin-top: 2.75px;
}
